<main class="mainContainer">
  <div class="dark-overlay">
    <%- include('partials/header') -%>
    <div class="container mx-auto">
      <div class="flex justify-center mt-5">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% for(var i=0; i<posts.length; i++) {%>
          <% if(posts[i].status.toLowerCase() == "in progress") { %>
            <h2 class="text-2xl font-bold mb-3"><%= posts[i].title %></h2>
            <a href="/post/<%= posts[i]._id%>">
              <img class="w-full h-auto" src="<%= posts[i].image%>" alt="Post Image">
            </a>
            <h4>Assembly Time : <%= posts[i].formattedTime %></h4>
            <h4>Address : <%= posts[i].address %></h4>
            <h4>Status : <%= posts[i].status %></h4>
            <h4>Date : <%= posts[i].formattedDate %></h4>
          <% } %>
      <% } %>
        </ul>
    </div>
  </div>
<div>
</main>
  <div class="container mx-auto">
    <div class="flex justify-center mt-5">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="mb-5">
              <h2 class="text-2xl font-bold mb-3"><%= posts[i].title %></h2>
              <a href="/post/<%= posts[i]._id%>">
                <img class="w-full h-auto" src="<%= posts[i].image%>" alt="Post Image">
              </a>
              <h4>Assembly Time : <%= posts[i].formattedTime %></h4>
              <h4>Address : <%= posts[i].address %></h4>
              <h4>Status : <%= posts[i].status %></h4>
              <h4>Date : <%= posts[i].formattedDate %></h4>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
  <%- include('partials/footer') -%>
