<%- include('partials/header') -%>

<div class="flex flex-col items-center justify-center h-screen">
    <p class="font-bold">User Name: <%= user.userName %></p>
    <p class="font-bold">Email: <%= user.email %></p>

    <section>
        <!-- Your content goes here -->
    </section>
  
    <!-- Example of using Tailwind CSS classes for styling -->
	<div class="container mx-auto">
		<div class="flex justify-center mt-5">
		  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<% for(var i=0; i<posts.length; i++) {%>
			  <li class="mb-5">
				<a href="/post/<%= posts[i]._id%>">
				  <img class="w-full h-auto" src="<%= posts[i].image%>" alt="Post Image">
				</a>
			  </li>
			<% } %>
		  </ul>
		</div>
	  </div>
</div>

<%- include('partials/footer') -%>
